<!DOCTYPE html>
<html lang="pt-br">
<head>
          <meta charset="UTF-8">

          <title>pagina de login</title>
</head>
<body>
          <div style="text-align: center;">
                    <h1>faca seu login</h1>
                    {% if msg %}
                       <p style="color: black;">{{msg}}</p>
                    {% endif %}
                    <form action="/login" method="POST">
                              <label>Nome:</label><br>
                              <input type="text" name="nome"><br><br>
                              <label>Senha:</label><br>
                              <input type="password" name="senha"><br><br>
                              <input type="submit" value="enviar">
                    </form>
          </div>
          
</body>
</html>