<!DOCTYPE html>
<html lang="pt-br">
<head>
          <meta charset="UTF-8">
          
          <title>menu acessado</title>
          <link rel="stylesheet" href="{{url_for('static',filename='css/return.css')}}">
</head>
<body>
          <div style="text-align: center;">
                    <h1>PARABENS</h1>
                    <p>voce acessou a pagina com sucesso</p>

                    <form action="https://github.com/ldm-code">
                              <button type="submit"> entrar </button>
                              <p>
                                        <button type="submit"> voltar </button>
                              </p>
                    </form>
          </div>
          
</body>
</html>