<!DOCTYPE html>
<html lang="pt-br">
<head>
          <meta charset="UTF-8">
          
          <title>menu acessado</title>
</head>
<body>
          <div style="text-align: center;">
                    <h1>PARABENS</h1>
                    <p>voce acessou a pagina com sucesso</p>
                    <p>seu Nome e {{nome}}</p>
                    <p>sua Senha e *********</p>
                    <form action="https://github.com/LeozimIdeau">
                              <button type="submit"> entrar </button>
                    </form>
          </div>
          
</body>
</html>